<a href="https://colab.research.google.com/github/sairam0531/DATA-ANALYSIS/blob/main/PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importing pandas
import pandas as pd
a=["sai",'anil','farhan','kiran']
r=pd.Series(a,index=[1,2,3,4])
print(r)
df=pd.read_csv("/content/titanic.csv")
print(df)
df=pd.read_csv("/content/Spark-Course-Description.txt")
print(df)
k=pd.read_excel("/content/train.xlsx")
print(k)
print(k.loc[1])

In [ ]:
dfn=pd.read_csv("/content/titanic.csv")
print(dfn)

In [ ]:
mv=dfn['PassengerId'].mean()
print(mv)

In [ ]:
m=dfn.drop_duplicates()
print(m)

In [ ]:
dfn.head(6)

In [ ]:
import pandas as pd
dfn=pd.read_csv("/content/titanic.csv")
a=dfn.head(10)
b=dfn.tail(10)
k=pd.concat([a,b],axis=0)
k.to_csv('ram.csv')

In [ ]:
print(k.groupby(['PassengerId'])['Survived'].count())

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
runs=np.array([100,50,91,78,89,25,34,19,9,10])
w=np.array([1,0,2,0,3,7,8,9,7,5])
plt.plot(runs,w,color='red')
plt.title('IndvsAus_score')
plt.show()

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
#Generate array of 200 values between -pi and pi
tigar=np.linspace(-2*np.pi,2*np.pi,100)
print(tigar)

plt.scatter(tigar,np.sin(tigar),color='red')
#sin plt plot(x,y,color,labels ....)
plt.title("sin(x)")

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
#creating x
overs=np.arange(5,50,5)
overs_a=np.arange(5,30,5)
#creating y
runs_i=np.array([25,51,84,131,160,189,220,250,267])
runs_a=np.array([15,41,94,110,151])
wickets=np.array([12,32,96])
plt.subplot(2,1,2)
#plotting
plt.plot(overs,runs_i,color='green',label='India')
plt.subplot(2,1,1)
plt.plot(overs_a,runs_a,color='blue',label='Aus')
#combining two graphs
plt.legend(loc='best')
#displaying final graph
plt.show()

In [ ]:
import matplotlib.pyplot as plt
a=[230,560,780,127,128]
b=[200,160,270,127,400]
years=[1,2,3,4]


profit_a=[(a[i]-a[i-1]) for i in range(1,len(a))]
profit_b=[(b[i]-b[i-1]) for i in range(1,len(b))]
plt.subplot(2,1,2)
plt.plot(years,profit_a,color='hotpink',linewidth='3',label='company_A',marker='.',ms='19',mec='k')
plt.legend(loc='best')
plt.subplot(2,1,1)
plt.plot(years,profit_b,color='black',linestyle='dotted',label='company_B',marker='+')
plt.legend(loc='best')
plt.show()

In [ ]:
a=np.array([25,60,5,10])
labe=["AIML","PYTHON","PANDAS","NUMPY"]
c=["green","orange","blue","red"]
explo=[0.2,0,0,0]
plt.pie(a,labels=labe,explode=explo,startangle=180,colors=c,textprops={'fontsize':31})

plt.legend(loc='best')
#plt.pie(a,labels=labe)
#plt.show

In [ ]:
#/content/city_temperature.csv
#Task1
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# Load the dataset containing daily temperatures
# Assuming the dataset is in a CSV file named 'temperature_data.csv' with a column named 'temperature'
df = pd.read_csv('/content/city_temperature.csv')
print(df)


average_temperature = df['AvgTemperature'].mean()
highest_temperature = df['AvgTemperature'].max()
lowest_temperature = df['AvgTemperature'].min()
threshold = 30
days_above_threshold = df[df['AvgTemperature'] > threshold].shape[0]


print("Average temperature for the month:", average_temperature)
print("Highest temperature recorded:", highest_temperature)
print("Lowest temperature recorded:", lowest_temperature)
print("Number of days where temperature exceeded", threshold, "degrees Celsius:", days_above_threshold)
df.plot(kind='line',color='blue')
plt.title("Temperature for 100 days")
plt.xlabel("Days")
plt.ylabel("Temperature")